.orb-container {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: none;
  filter: none;
}

.orb-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  box-shadow: none;
  filter: none;
}
